body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fed1ef;
  width: 100%;
  height: 100vh;
  overflow: auto !important;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.MuiDataGrid-footerContainer {
  background-color: rgb(254, 209, 239) !important;
}

.Mui-error::after {
  border: none !important;
}

.Mui-selected {
  background: rgba(254, 209, 239, 0.2) !important;
}

.MuiSelect-select {
  white-space: normal !important;
}

/* .MuiModal-root {
  position: unset !important;
} */
